* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0e141a;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	color: #00d46a;
	margin: 0;
}

h2 {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	margin: 0;
}

#metricsContent {
	height: 100%;
}

.btn-icon {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: none;
	border: 0;
	border-radius: 50%;
	color: rgba(14, 20, 26, 0.6);
	height: 48px;
	width: 48px;
}

.btn-link {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: transparent;
	color: rgba(14, 20, 26, 0.8);
}

	.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
		background-color: transparent;
		box-shadow: none;
	}

	.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
		border-color: transparent;
	}

.container {
	text-align: center;
}

.empty-collection, .empty-data {
	display: block;
}

.logo {
	text-align: center;
}

.no-data .empty-data {
	display: block;
}

.map {
	height: 100%;
	min-height: 768px;
}

.no-result {
	font-size: 10px;
}

.project-notfound {
	text-align: center;
}

.project-notfound-icon {
	background: rgba(0, 212, 106, 0.2);
	border-radius: 50%;
	display: block;
	height: 120px;
	margin: 0 auto 45px;
	width: 120px;
}

.project-notfound-text {
	color: rgba(14, 20, 26, 0.8);
	font-family: "Galano", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.sensors .btn-icon {
	background: rgba(14, 20, 26, 0.05);
	border-radius: 4px;
	font-size: 16px;
	line-height: 36px;
	height: 36px;
	width: 36px;
	display: inline-block;
	text-align: center;
}

.sensors {
	background-color: #ffffff;
}

.sensors .btn-icon:focus, .sensors .btn-icon:hover, .sensors .btn-icon.btn-icon-selected {
	background: rgba(0, 212, 106, 0.1);
	color: #00d46a;
}

	.sensors .btn-icon span {
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
	}

.sensors .empty-collection .project-notfound, .empty-data .project-notfound {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sensors .table-header, .sensors .table-footer {
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 12px 20px;
	width: 100%;
	-webkit-animation: fadeIn 0.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
	animation: fadeIn 0.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
}

.sensors .table-header {
	z-index: 99;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.1);
}

	.sensors .table-header-left nav {
		max-width: 960px;
	}

	.sensors .table-header .table-header-right .btn-icon {
		margin-left: 10px;
	}

		.sensors .table-header .table-header-right .btn-icon:first-child {
			margin-left: 0px;
		}

.sensors .table-footer {
	height: 60px;
	box-shadow: 0 0 8px rgba(14, 20, 26, 0.1);
	bottom: -60px;
	z-index: 98;
}

	.sensors .table-footer .table-footer-right .table-footer-pagination {
		display: inline-block;
		height: 36px;
		float: left;
	}

.topbar {
	margin-bottom: 22px;
}
